{% extends "layout.html" %}

{% block title %}
  Quick Journey
{% endblock %}

{% block main %}
<p class="lead px-5 py-5">On this page, you'll discover a curated collection of nine distinct poems from various authors, each exploring different themes. This selection is designed to offer a glimpse into the essence of the <strong>Ukrainian spirit: love, courage and perseverance</strong>.</p>
    <div class="container">

        {% for poem in poems %}
            {% if poem.id | int  % 2 == 0 %}
                <p class="topic text-md-center pt-5 fs-1 fst-italic fw-lighter"> {{ poem.topic }} </p>
                <div class="row pb-5 justify-content-md-end flex-column-reverse flex-md-row">
            {% else %}
                <p class="topic text-md-start pt-5 fs-1 fst-italic fw-lighter"> {{ poem.topic }} </p>
                <div class="row pb-5 justify-content-md-start flex-column-reverse flex-md-row">
            {% endif %}
                    <div class="col col-md-4 p-5 poem shadow-lg rounded">
                        <h2 class="pb-5">{{ poem.title }}</h2>
                        <div>{{ poem.text | safe }}</div>
                        <div class="pt-2 year">{{ poem.year }}</div>
                    </div>
                    <div class="col col-md-4 px-0 author">
                        <div class="box parent d-flex flex-column rounded">
                            <h2 class="p-5">{{ poem.author }}</h2>
                            <img class="child mt-auto rounded" src="{{ poem.author_photo }}" alt="photo of {{ poem.author }}">
                        </div>
                    </div>
                </div>
        {% endfor %}

    </div>

{% endblock %}