<!doctype html>
<html lang="en">
  <head>
    <meta name="description" content="Experience the poetry of Ukraine in your native language. Explore a curated collection of Ukrainian poems translated into multiple languages, celebrating the rich literary heritage of Ukraine.">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- Flag Icons CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css">
    <!-- Other Icons CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <!-- Custom   -->
    <link href="/static/styles.css" rel="stylesheet">
    <script src="/static/scripts.js"></script>
    <link rel="icon" href="/static/images/embroidery.svg" type="image/svg+xml">

    <title> Poetry of Ukraine: {% block title %}{% endblock %} </title>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-H9TCJSEMEN"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-H9TCJSEMEN');
    </script>
  </head>
  <body>
    <div id="spinner-overlay" class="spinner-overlay">
        <div class="sun-spinner">
            <div class="sun-rays-container">
                {% for i in range(8) %}
                <div class="sun-ray"></div>
                {% endfor %}
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand navbar-light flex-wrap">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">EXPERIENCE POETRY OF UKRAINE IN YOUR NATIVE LANGUAGE</a>
        <div class="navbar-nav">
          <a class="navbar-brand fst-italic">Select your language <span class="bi bi-arrow-right" style="-webkit-text-stroke-width: 2px;"> </span></a>
          <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"> LANGUAGE</button>
              <ul class="dropdown-menu" id="language-menu" aria-labelledby="dropdownMenuButton">
                    <li><input type="text" id="language-search" class="form-control" placeholder="Search..."></li>
                    <li><a class="dropdown-item" href="#" data-lang="Ukrainian"><span class="fi fi-ua"></span> Ukrainian - Українська - Original</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="English"><span class="fi fi-gb"></span> English - English</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="German"><span class="fi fi-de"></span> German - Deutsch</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="French"><span class="fi fi-fr"></span> French - Français</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Spanish"><span class="fi fi-es"></span> Spanish - Español</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Polish"><span class="fi fi-pl"></span> Polish - Polski</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Portuguese"><span class="fi fi-pt"></span> Portuguese - Português</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Italian"><span class="fi fi-it"></span> Italian - Italiano</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Japanese"><span class="fi fi-jp"></span> Japanese - 日本語</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Chinese"><span class="fi fi-cn"></span> Chinese - 中文</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Hebrew"><span class="fi fi-il"></span> Hebrew - עברית</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Korean"><span class="fi fi-kr"></span> Korean - 한국어</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Arabic"><span class="fi fi-sa"></span> Arabic - العربية</a></li>


                    <li><hr class="dropdown-divider" id="language-divider" /></li>
                    <li><a class="dropdown-item" href="#" data-lang="Afrikaans"><span class="fi fi-za"></span> Afrikaans - Afrikaans</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Albanian"><span class="fi fi-al"></span> Albanian - Shqip</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Amharic"><span class="fi fi-et"></span> Amharic - አማርኛ</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Arabic"><span class="fi fi-sa"></span> Arabic - العربية</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Armenian"><span class="fi fi-am"></span> Armenian - Հայերեն</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Azerbaijani"><span class="fi fi-az"></span> Azerbaijani - Azərbaycan</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Basque"><span class="fi fi-es"></span> Basque - Euskara</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Bengali"><span class="fi fi-bd"></span> Bengali - বাংলা</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Bosnian"><span class="fi fi-ba"></span> Bosnian - Bosanski</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Bulgarian"><span class="fi fi-bg"></span> Bulgarian - Български</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Burmese"><span class="fi fi-mm"></span> Burmese - မြန်မာ</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Catalan"><span class="fi fi-es"></span> Catalan - Català</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Cebuano"><span class="fi fi-ph"></span> Cebuano - Sinugbuanong Binisayâ</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Chinese"><span class="fi fi-cn"></span> Chinese - 中文</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Croatian"><span class="fi fi-hr"></span> Croatian - Hrvatski</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Czech"><span class="fi fi-cz"></span> Czech - Čeština</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Danish"><span class="fi fi-dk"></span> Danish - Dansk</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Dutch"><span class="fi fi-nl"></span> Dutch - Nederlands</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="English"><span class="fi fi-gb"></span> English - English</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Esperanto"><span class="fi fi-eo"></span> Esperanto - Esperanto</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Estonian"><span class="fi fi-ee"></span> Estonian - Eesti</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Filipino"><span class="fi fi-ph"></span> Filipino - Filipino</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Finnish"><span class="fi fi-fi"></span> Finnish - Suomi</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="French"><span class="fi fi-fr"></span> French - Français</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Galician"><span class="fi fi-es"></span> Galician - Galego</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Georgian"><span class="fi fi-ge"></span> Georgian - ქართული</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="German"><span class="fi fi-de"></span> German - Deutsch</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Greek"><span class="fi fi-gr"></span> Greek - Ελληνικά</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Gujarati"><span class="fi fi-in"></span> Gujarati - ગુજરાતી</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Haitian Creole"><span class="fi fi-ht"></span> Haitian Creole - Kreyòl ayisyen</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Hausa"><span class="fi fi-ng"></span> Hausa - هَوُسَ</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Hebrew"><span class="fi fi-il"></span> Hebrew - עברית</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Hindi"><span class="fi fi-in"></span> Hindi - हिन्दी</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Hmong"><span class="fi fi-la"></span> Hmong - Hmoob</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Hungarian"><span class="fi fi-hu"></span> Hungarian - Magyar</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Icelandic"><span class="fi fi-is"></span> Icelandic - Íslenska</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Igbo"><span class="fi fi-ng"></span> Igbo - Asụsụ Igbo</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Indonesian"><span class="fi fi-id"></span> Indonesian - Bahasa Indonesia</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Irish"><span class="fi fi-ie"></span> Irish - Gaeilge</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Italian"><span class="fi fi-it"></span> Italian - Italiano</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Japanese"><span class="fi fi-jp"></span> Japanese - 日本語</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Javanese"><span class="fi fi-id"></span> Javanese - Basa Jawa</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Kannada"><span class="fi fi-in"></span> Kannada - ಕನ್ನಡ</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Kazakh"><span class="fi fi-kz"></span> Kazakh - Қазақ тілі</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Khmer"><span class="fi fi-kh"></span> Khmer - ខ្មែរ</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Korean"><span class="fi fi-kr"></span> Korean - 한국어</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Kurdish"><span class="fi fi-iq"></span> Kurdish - Kurdî</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Kyrgyz"><span class="fi fi-kg"></span> Kyrgyz - Кыргызча</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Lao"><span class="fi fi-la"></span> Lao - ລາວ</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Latin"><span class="fi fi-va"></span> Latin - Latine</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Latvian"><span class="fi fi-lv"></span> Latvian - Latviešu</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Lithuanian"><span class="fi fi-lt"></span> Lithuanian - Lietuvių</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Luxembourgish"><span class="fi fi-lu"></span> Luxembourgish - Lëtzebuergesch</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Macedonian"><span class="fi fi-mk"></span> Macedonian - Македонски</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Malagasy"><span class="fi fi-mg"></span> Malagasy - Malagasy</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Malay"><span class="fi fi-my"></span> Malay - Bahasa Melayu</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Malayalam"><span class="fi fi-in"></span> Malayalam - മലയാളം</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Maltese"><span class="fi fi-mt"></span> Maltese - Malti</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Maori"><span class="fi fi-nz"></span> Maori - Te Reo Māori</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Marathi"><span class="fi fi-in"></span> Marathi - मराठी</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Mongolian"><span class="fi fi-mn"></span> Mongolian - Монгол хэл</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Nepali"><span class="fi fi-np"></span> Nepali - नेपाली</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Norwegian"><span class="fi fi-no"></span> Norwegian - Norsk</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Pashto"><span class="fi fi-af"></span> Pashto - پښتو</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Persian"><span class="fi fi-ir"></span> Persian - فارسی</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Polish"><span class="fi fi-pl"></span> Polish - Polski</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Portuguese"><span class="fi fi-pt"></span> Portuguese - Português</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Punjabi"><span class="fi fi-in"></span> Punjabi - ਪੰਜਾਬੀ</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Romanian"><span class="fi fi-ro"></span> Romanian - Română</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Samoan"><span class="fi fi-ws"></span> Samoan - Gagana Samoa</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Scots Gaelic"><span class="fi fi-gb"></span> Scots Gaelic - Gàidhlig</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Serbian"><span class="fi fi-rs"></span> Serbian - Српски</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Sesotho"><span class="fi fi-za"></span> Sesotho - Sesotho</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Shona"><span class="fi fi-zw"></span> Shona - Shona</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Sindhi"><span class="fi fi-pk"></span> Sindhi - سنڌي</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Sinhala"><span class="fi fi-lk"></span> Sinhala - සිංහල</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Slovak"><span class="fi fi-sk"></span> Slovak - Slovenčina</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Slovenian"><span class="fi fi-si"></span> Slovenian - Slovenščina</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Somali"><span class="fi fi-so"></span> Somali - Soomaali</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Spanish"><span class="fi fi-es"></span> Spanish - Español</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Sundanese"><span class="fi fi-id"></span> Sundanese - Basa Sunda</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Swahili"><span class="fi fi-tz"></span> Swahili - Kiswahili</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Swedish"><span class="fi fi-se"></span> Swedish - Svenska</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Tajik"><span class="fi fi-tj"></span> Tajik - Тоҷикӣ</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Tamil"><span class="fi fi-in"></span> Tamil - தமிழ்</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Telugu"><span class="fi fi-in"></span> Telugu - తెలుగు</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Thai"><span class="fi fi-th"></span> Thai - ไทย</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Turkish"><span class="fi fi-tr"></span> Turkish - Türkçe</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Ukrainian"><span class="fi fi-ua"></span> Ukrainian - Українська</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Urdu"><span class="fi fi-pk"></span> Urdu - اردو</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Uzbek"><span class="fi fi-uz"></span> Uzbek - O‘zbek</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Vietnamese"><span class="fi fi-vn"></span> Vietnamese - Tiếng Việt</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Welsh"><span class="fi fi-gb"></span> Welsh - Cymraeg</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Xhosa"><span class="fi fi-za"></span> Xhosa - isiXhosa</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Yiddish"><span class="fi fi-il"></span> Yiddish - יידיש</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Yoruba"><span class="fi fi-ng"></span> Yoruba - Yorùbá</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="Zulu"><span class="fi fi-za"></span> Zulu - isiZulu</a></li>
              </ul>
          </div>
        </div>
      </div>
    </nav>

    <!-- Main content -->
    {% block main %}{% endblock %}

    <!-- Footer -->
    <footer class="text-center text-lg-start text-muted">
      <div class="text-center p-4">
        <p>Note: translations are powered by LLM models. They can be incomplete or incorrect.</p>
          <p>2023, Developed and maintained by <a class="text-reset fw-bold" href="https://github.com/">@linapb</a></p>
      </div>
    </footer>

  </body>
</html>
